
.logo {
  height: 2rem;
  width: auto;
  margin-right: 0.5vw;
  vertical-align: middle;
  margin-left: 0.5vw;
}

.branding {
  font-family: "Playfair Display", serif;
}

.top-bar {
  padding: 2vh 1vw;
  opacity: 1 !important;
  position: sticky;
}

.slide-in {
  position: relative;
  animation: slideIn 1s ease-in-out;
}

.transparent {
  top: 0;
  left: 0;
  background: transparent;
  z-index: 10000;
  position: absolute;
}

body {
  opacity: 0;
  color:white !important;
}

.white-text {
  color: white !important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-50%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
