.content {
    margin-left: 2vw;
}

.repo-card {
    border: 2px solid var(--primary-accent-colour);
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #2e2933 !important;
    color: white;          
    list-style: none;
    max-width: 40vw;
    text-decoration: none;
    transition: background-color 0.15s ease-in-out;
    animation: fadeIn 0.5s ease-in-out;
}

.repo-card:hover {
    background-color: #38333d !important;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}